{% extends "::template.html.twig" %}

{% block titre %} Accueil {% endblock titre %}
{% block content %}


<br>

<p> InRealGame est une Application web destinée aux groupes de joueur de MMORPG ou à d'autre organisation. Le but de ce site avec de faciliter la communication au sein d'une guilde tout en lui permettant d'accéder à des fonctions tel que: </p>

<ul>
<li>
La gestion des candidatures
</li>
<li>
La mise en place d'un calendrier,
</li>
<li>
Création d'annonce.
</li>
</ul>

Et bien d'autres fonctionnalités à venir comme la mise en place de sondage ou la gestion d'alliance et d'événements inter-guilde.

{% endblock content %}

